.main {
  background: var(--zincGradient);
}
.top {
  display: flex;
  justify-content: space-between;

  padding: 24px 24px;
}
.top button {
  cursor: pointer;
  transition: background 0.2s ease;
}
.buttonsLeft {
  display: flex;
  gap: 16px;
}
.filterButton {
  padding: 4px 8px;
  /* border: 2px solid var(--borders); */

  border-radius: 6px;
  color: var(--black);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--secondaryText);
}
.filterButton:hover {
  background: var(--muted);
}
.buttonSelected {
  border: var(--black);

  background: var(--muted);
  color: var(--black);
}

.notFound {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 116px 0;
}

@media (max-width: 990px) {
  .top {
    flex-direction: column;
    gap: 8px;
  }
  .buttonsLeft {
    gap: 8px;
  }

  .buttonsLeft button {
    width: 100%;
    flex: 1;
  }
}
