.boxContainer {
  position: relative;
}

.dropDown {
  position: absolute;
  display: flex;
  flex-direction: column;

  /* gap: 8px; */
  left: 0;
  top: 8px;
  width: 100%;
  border: 1px solid var(--borders);
  background: var(--background);

  transition: all 0.1s ease-in;
  z-index: 2;
  border-radius: var(--radius);
  max-height: 350px;
  overflow: scroll;
}
.item {
  display: flex;
  padding: 16px;
  gap: 8px;
  border-bottom: 1px solid var(--borders);
  cursor: pointer;
}
.item:hover {
  background: var(--tableMuted);
}
.none {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}
