.search {
  display: flex;
  align-items: center;
  overflow: hidden;
  fill: var(--black);

  background: var(--muted);
  border: 2px solid var(--borders);
  border-radius: 6px;
}

.searchButton {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 14.5px;
  cursor: pointer;
  background: none;
  border: none;

  fill: var(--secondaryText);
}
.searchButton:hover {
  background: var(--muted);
}

.input {
  background: var(--muted);
  color: var(--black);
  padding: 0 8px;
  border: none;

  height: 100%;

  font-size: 14px;
}
.input:focus {
  outline: none;
}

@media (max-width: 990px) {
  .search {
    width: 100%;
    height: 36px;
    justify-content: space-between;
  }
  .right {
    flex: 2;
    width: 100%;
  }
  .input {
    width: 100%;
  }
}
