.comboBox {
  transition: all 0.2s ease;
}
.comboBox > :first-child {
  background: none;
  border: none;
  fill: var(--secondaryText);
  color: var(--secondaryText);
}
.comboBox > :first-child {
  background: none;
  border: none;
  fill: var(--secondaryText);
  color: var(--secondaryText);
}
.comboBox > :first-child p {
  color: var(--secondaryText);
}
.comboBox > :first-child:hover {
  background: var(--muted);
}
.pointerEvents {
  opacity: 0;
  pointer-events: none;
}
.deleteButton {
  background: #d92d20;
  color: white;
  border: none;
}
.deliverButton {
  background: var(--black);
  color: var(--background);
  border: none;
}
.deliverButton p {
  color: var(--background);
}
