.root {
  width: 50%;
}
.top {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid var(--borders);
}

.close {
  background: none;
  border: none;
  cursor: pointer;
  fill: var(--secondaryText);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--borders);
  padding: 16px;
  cursor: pointer;

  transition: background 0.2s ease;
  color: var(--black);
}

.item:hover {
  background: var(--muted);
}

.itemSubtitle {
  color: var(--secondaryText);
  margin-top: 8px;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.itemRight {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  border-radius: 24px;
  height: fit-content;
  padding: 4px 8px;
  background: rgb(26, 26, 26);
  font-size: 12px;
  fill: var(--secondaryText);
  color: var(--secondaryText);
  line-height: 0;
}
.itemRight svg {
  width: 12px;
}
.itemRight p {
  /* text-overflow: ellipsis; */
}

.arrow {
  transform: rotate(180deg);
  fill: var(--secondaryText);
}

.buttonContainer {
  padding: 16px 16px;
  border-bottom: 1px solid var(--borders);
  text-align: right;
}

.buttonContainer button {
  padding: 8px 16px;
  border: 2px solid var(--borders);

  border-radius: 6px;
  color: var(--black);
  background: var(--background);
  cursor: pointer;
}

.buttonContainer button:hover {
  background: var(--muted);
}

.ship svg {
  width: 16px;
}
@media (max-width: 990px) {
  .root {
    width: 90%;
  }
}
