.link {
  display: flex;
  gap: 16px;
  width: 100%;

  color: var(--secondaryText);

  border-radius: var(--radius);
  padding: 8px 0 8px 16px;
  font-size: 14px;

  fill: var(--secondaryText);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.link svg {
  width: 20px;
  height: 20px;
}
.link:hover {
  background: var(--muted);
  color: var(--black);
}
.activeLink {
  color: var(--black);
  background: var(--muted);

  fill: var(--black);
}
