.root {
  position: fixed;
  background: var(--zincGradient);

  height: 100%;
  width: 240px;
  border-right: 1px solid var(--borders);
  top: 0;
  left: 0;
  right: 0;

  z-index: 50;
}
.logo {
  border-bottom: 1px solid var(--borders);
  padding-left: 32px;
  height: 71px;
  fill: var(--black);
  padding-top: 16px;

  display: flex;
  gap: 8px;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  gap: 12px;

  height: 100%;
}

.fallback {
  display: none;
}
.pointerEvents {
  pointer-events: none;
}

.logout {
  cursor: pointer;
  display: flex;
  gap: 16px;
  width: 100%;

  color: var(--secondaryText);

  border-radius: var(--radius);

  padding: 8px 0 8px 16px;
  font-size: 14px;
  fill: var(--secondaryText);
  margin-top: auto;
  transition: all 0.2s ease-in-out;
}
.logout svg {
  width: 20px;
  height: 20px;
}
.logout:hover {
  background: var(--muted);
  color: oklch(70.4% 0.191 22.216);
}

.children {
  padding: 71.67px 0 0 240px;

  /* border: 1px solid red; */
  margin: 16px 32px;
  max-width: 1500px;
}

@media (max-width: 990px) {
  .root {
    left: -240px;
    top: 71px;
  }
  .logo {
    display: none;
  }
  .fallback {
    display: block;
    position: fixed;
    opacity: 0;
    left: 0;
    top: 0;
    background: #00000071;
    z-index: 10;
    width: 100vw;
    height: 100vh;
  }
  .children {
    padding: 71.67px 0 0 0;
    margin: 16px 16px;

    /* border: 1px solid red; */
  }
}
@media (min-width: 1500px) {
  .children {
    margin: 16px auto 16px auto;
  }
}
