.root {
  flex: 2;
  min-height: 100vh;
  background: white;
  display: flex;
  justify-content: flex-end;
  color: #333;
  padding-bottom: 5rem;
}
.container {
  width: 100%;
  max-width: 900px;
  /* border: 1px solid red; */
  margin-top: 56px;
  padding: 0 5rem;
}
.form {
  display: flex;
  flex-direction: column;
}

.contactTitleCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.form h3 {
  font-size: 24px;
  font-weight: 600;
}
.login {
  font-size: 14px;
}

.login a,
.link {
  color: #a56600;
  text-decoration: underline;
}

.name {
  display: flex;
  justify-content: space-between;
}

.deliveryCont {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 14px;
}

.name .group {
  width: 32%;
}

.group {
  position: relative;
}

.input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  padding-top: 1rem;
  font-size: 14px;

  border: 1.2px solid #d9d9d9;

  border-radius: 4px;

  transition: 0.2s ease;
}

.label {
  position: absolute;
  color: #737373;
  pointer-events: none;
  left: 10px;
  top: 16px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus {
  outline: 1.2px solid #a56600;
  border: 1.2px solid #a56600;
}

.input:focus ~ .label,
.input:valid ~ .label {
  top: 5px;

  font-size: 12px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.button {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 1em 1.5em;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #8b5a47;
  background: #8b5a47;
  color: #fff;
  width: 100%;
}
.group select {
  width: 100%;
  height: 50px;
  border: 1.2px solid #d9d9d9;
  margin-top: 0.5rem;
}

.cityLabel {
  color: #737373;
}
.radioRoot {
  border-radius: 5px;
}
.radioContainer {
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  border: 1px solid #d9d9d9;
  padding: 17px;
}

.left label {
  font-size: 14px;
  color: #545454;
  margin-left: 10px;
}
.radioContainer p {
  font-size: 14px;
  color: #333333;
}

.left input {
  accent-color: #a56600;
}

@media (max-width: 990px) {
  .root {
    width: 100%;
  }
  .container {
    padding: 0 1rem;
  }
  .buttonContainer {
    justify-content: center;
    margin: 1em 0;
  }
  .button {
    width: 100%;
  }
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #a5660018;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: #a56600;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 4.5px;
  top: 1.5px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkboxContainer {
  width: 100%;
  display: block;

  position: relative;
  padding-left: 22px;
  font-size: 14px;
  margin-top: 14px;

  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  transition: all 0.2s ease;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1.5px solid #a56600;
  border-radius: 3px;
}
