.analyticsGrid {
  display: grid;
  grid-template-columns: 32.2% 32.2% 32.2%;

  gap: 16px;
}
.none {
  display: none;
}

@media (max-width: 990px) {
  .analyticsGrid {
    grid-template-columns: 100%;
  }
  .noneMobile {
    display: none;
  }
}
