.main {
  width: 100%;
  padding: 16px;
  fill: var(--secondaryText);
}
.main svg {
  width: 16px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;

  margin-bottom: 16px;
}

.title {
  color: var(--secondaryText);
  font-size: 14px;
}

.number {
  color: var(--black);
  font-size: 24px;
  font-weight: bold;
}

.percentage {
  color: var(--secondaryText);
  font-size: 12px;
  margin-bottom: 16px;
}
.legendContainer {
  display: flex;
  justify-content: flex-end;
}
.legend {
  display: flex;
  align-items: center;

  margin-top: 16px;
  gap: 10px;
  width: fit-content;
  padding: 4px 8px;
  color: var(--secondaryText);
  font-weight: 600;
}
.legendSVG {
  height: 2px;
  width: 32px;
  background: var(--primary);
}
.legendText {
  font-size: 12px;
}
